@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

@layer base {
    @font-face {
        font-family: 'TTNorms-Light';
        src: url("../../public/fonts/TTNorms Light/TTNorms-Light.eot");
        src: url("../../public/fonts/TTNorms Light/TTNorms-Light.ttf");
        src: url("../../public/fonts/TTNorms Light/TTNorms-Light.woff");
    }
    @font-face {
        font-family: 'TTNorms-Regular';
        src: url("../../public/fonts/TTNorms Regular/TTNorms-Regular.eot");
        src: url("../../public/fonts/TTNorms Regular/TTNorms-Regular.ttf");
        src: url("../../public/fonts/TTNorms Regular/TTNorms-Regular.woff");
    }
    @font-face {
        font-family: 'TTNorms-Medium';
        src: url("../../public/fonts/TTNorms Medium/TTNorms-Medium.eot");
        src: url("../../public/fonts/TTNorms Medium/TTNorms-Medium.ttf");
        src: url("../../public/fonts/TTNorms Medium/TTNorms-Medium.woff");
    }
    @font-face {
        font-family: 'TTNorms-Bold';
        src: url("../../public/fonts/TTNorms Bold/TTNorms-Bold.eot");
        src: url("../../public/fonts/TTNorms Bold/TTNorms-Bold.ttf");
        src: url("../../public/fonts/TTNorms Bold/TTNorms-Bold.woff");
    }
    @font-face {
        font-family: 'TTNorms-ExtraBold';
        src: url("../../public/fonts/TTNorms ExtraBold/TTNorms-ExtraBold.eot");
        src: url("../../public/fonts/TTNorms ExtraBold/TTNorms-ExtraBold.ttf");
        src: url("../../public/fonts/TTNorms ExtraBold/TTNorms-ExtraBold.woff");
    }
    @font-face {
        font-family: 'TTNorms-Black';
        src: url("../../public/fonts/TTNorms Black/TTNorms-Black.eot");
        src: url("../../public/fonts/TTNorms Black/TTNorms-Black.ttf");
        src: url("../../public/fonts/TTNorms Black/TTNorms-Black.woff");
    }

    h1 {
        @apply font-black text-3xl
    }
    h2 {
        @apply font-extrabold text-2xl
    }
    h3 {
        @apply font-bold text-xl
    }
}
